 :root{
     --title-text-color:#212121;
     --paragraph-text-color:#757575;
     --accent-color:#2196F3;
     --button-text-color:#FFFFFF;
     --main-white-color:#E5E5E5;
     --button-secondary-color: #F5F4FA;
     --hero-section-color:#2F303A;
     --logo-color:#000000;
     --footer-text-color:rgba(255, 255, 255, 0.6);
     --border-header-color:#ECECEC;
     --border-poster-color:#EEEEEE;
     --background-hang:#C4C4C4;
 }
 /* :root  */
/* для боді background-color: E5E5E5; */
 /* колір заголовків color: #212121; */
 /*колір ссилок і кнопок color: 2196F3; */
 /*колір для текстів абзацу color: 757575; */
 /* колір для Н1 і кнопок color:FFFFFF; */
 /* base */
 /* color for body */
 /* font-family:Raleway – 700,Roboto – 400, 500, 700, 900 */

/* font-family: 'Raleway', sans-serif; 
font-family: 'Roboto', sans-serif; */

body{
    font-size: 14px;
    font-family:'Roboto', sans-serif; 
    font-weight:400;
    color: var(--paragraph-text-color);
    background-color: #ffffff;
   
}
body ul{
    list-style-type: none;    ;
}
img{
    width: 100%;
    height: auto;
}
/* h1{
    


/* p{
    color: var(--paragraph-text-color);
} */
p{
    margin: 0;
}
    /*для hero section background-color: 2F303A; */
     
     /* колір лого color:000000; */
    
     
     
     /* колір для Н1 і кнопок color:FFFFFF; */

.container{
    width: 1200px;
    padding:0 15px;
    margin: 0 auto;
}
.section{
    padding: 94px 0;
    /* outline: 2px solid red; */
}      
 .list{
     list-style: none;
     padding: 0;
     margin: 0;

 }
 /* UP */
 .page-header{
     border-bottom: 1px solid var(--border-header-color);
 }
 .header-inner{
     display: flex;
     align-items: center;
 }


 
 /* логотип */
 a.logo {
     color: var(--logo-color);
     font-family:'Raleway', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: .03em; 
     text-decoration: none;
 }
.logo .web{
     color:var(--accent-color);
 }
 /* site-nav */
 .site-nav{
     display: flex;
     margin-left: 94px;
 }
 .site-nav .item:not(:last-child){
     margin-right: 50px;
 }

 .site-nav .link{
     display: block;
     padding-top: 32px;
     padding-bottom: 32px; 
     
     color: var( --title-text-color);
     
     font-family:'Roboto', sans-serif;
     font-size: 14px;
     font-weight: 500;
     line-height: 1.14;
     text-decoration: none;
     letter-spacing: .02em;
     
 }
 .link:hover,
 .link:focus{
     color: var(--accent-color);
 }
 .site-nav .link.current{
     color:var(--accent-color);
 }
 /* address nav */
 .main-address{
     margin-left: auto;
 }
     
 
 .address-nav{
     display: flex;
     margin-left: auto;
 }
 
 .address-nav .item+.item{
     margin-left: 50px;
 }
 .address-nav .link{

     padding-top: 32px;
     padding-bottom: 32px;

     color: var(--paragraph-text-color); 
     
     list-style: none;
     font-family:'Roboto', sans-serif;
     font-size: 14px;
     font-weight: 500;
     line-height: 1.14;
     font-style: normal;
     text-decoration: none;
     letter-spacing: .02em;
 }
 .adress-nav .link:hover,
 .adress-nav .link:focus{
     color: var(--accent-color);
     border: 2px solid var(--accent-color);    
 }
 .adress-nav .link:active{
    color: var(--accent-color);  
 }
 /* overlay */
 .overlay{
    background-color: var(--background-hang);
     background-image: linear-gradient(
         0deg, rgba(0, 0, 0, 0.2),
         rgba(47, 48, 58, 0.4)),
     url('../images/backfon.jpg');
     max-width: 1600px;
     max-height: 600px;
     margin-left: auto;
     margin-right: auto;
     background-position: center;
     background-size:cover ;
     background-repeat: no-repeat;
    


 }
 /* hero section */
.hero{
    text-align: center; 
    background-color: var(--hero-section-color);
    padding: 200px 0; 
}
.hero-title{
    color:var(--button-text-color);
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: .06em;
    text-transform: uppercase;
    
    margin-top: 0;
    margin-bottom: 30px;
}

.hero-button{
    color: var(--button-text-color);
    background-color: var(--accent-color);
    font-family:'Roboto', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    border: 1px solid transparent;
    text-align: center;
    letter-spacing: .06em;
    min-width: 200px;
    height: 50px;
    border-radius: 4px;
    padding: 10px 32px;
   
}

/* section */
.section-title{
   color: var( --title-text-color);
   font-family:'Roboto', sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   letter-spacing: .03em;
   margin: 0 auto 50px;
   text-align: center;
}


/* features */
.features{
    display: flex;
    justify-content: space-between;
    
}

.features .item{
    width: 270px;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0000);
    overflow: hidden;

}

.features .item::before{
    display: block;
    content:'';
    height: 120px;
    
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    margin-bottom: 30px;
    background-color:#F5F4FA
}
.icon-antenna::before{
    background-image: url('../images/logo-1.svg');
}
.icon-clock::before{
    background-image: url('../images/logo-2.svg');
}
.icon-diagram::before{
    background-image: url('../images/logo-3.svg');
}
.icon-astronaut::before{
    background-image: url('../images/logo-4.svg');
}
.features .title{
 color: var( --title-text-color);
}
/* Н3 заголовки для всього сайту */
.title{
    font-family:'Roboto', sans-serif; 
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.item .text{
 
    line-height: 1.71;
    letter-spacing: .03em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
   
   
} 
.work-area{
    padding-top: 0;
}

.area{
    display: flex;
}
.work-area .item{
    width: 370px;
    margin-right: 30px;
}
.work-area .item:last-child{
    margin-right: 0;
}
.team-section{
    padding:94px 0;
}
.team{
    display: flex;
}
.team .item:not(:last-child){
    margin-right: 30px;
}
.item-inner{
    text-align: center;
    padding: 30px 58px;
}
.team .title{
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-transform:none;
}
.team p{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: .03em;
   
}
.button-nav{
    display: flex;
    justify-content: center;
}
.button-nav .item{
    display: block;
    margin-right: 8px;
    margin-bottom: 50px;
    /* outline: 1px solid black; */
}
.button-nav .item:last-child{
    margin-right: 0;
}
/* button */
.button{
    display: block;
    padding: 6px 22px;
    color:var( --title-text-color);
    background-color: var(--button-secondary-color);
    border-style: none;
    border-radius: 4px;
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: .03em;
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: var(--button-text-color);
    background-color:var(--accent-color);
}
.button:active{
    color: var(--button-text-color);
    background-color:var(--accent-color);
}

/* .button .primary{
    color: var(--button-text-color);
    background-color: var(--accent-color);

}
.button .secondary{
    color: var(--title-text-color);
    background-color: var(--button-secondary-color);
} */
    
    
/* footer */
.footer-items{
     background-color: var(--hero-section-color); 
     padding: 60px 0;
}
.footer-items .logo{
     display: block;
     margin-bottom:20px;
    
     color: var(--button-text-color);
     font-family:'Raleway', sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.2;
     letter-spacing: 0,03em; 
     text-decoration: none;
 }

.footer-nav .link{
    display: block;
            
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .03em;
    text-decoration: none;
    font-style: normal;
}
.footer-nav .link{
    color: var(--footer-text-color);
}
.footer-nav .address-point {
     color: var(--button-text-color);
     display: block;
            
     font-family:'Roboto', sans-serif;
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: .03em;
     text-decoration: none;
     font-style: normal;
}


.footer-nav .item:not(:last-child){
    margin-bottom: 10px;
}


/* .footer-nav .link:hover,
.footer-nav .link:focus{
     color: var(--button-text-color); */
/* projects */



.work-list{
    display: flex;
    flex-wrap: wrap;
}
.work-list .item{
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;
    
}
.work-list .item:nth-child(3n){
    margin-right: 0;
}
.work-list .item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.work-list .item-inner{
    text-align: left;
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-poster-color);
    border-left: 1px solid var(--border-poster-color);
    border-right: 1px solid var(--border-poster-color);

}
 
 .work-list .title{
     
     margin-bottom: 4px;
     
     color: var(--title-text-color);
     
     font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: .06em;
     text-transform: none;
     
 }
 .work-list p{
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: .03em;
     margin-top: 0;
     margin-bottom: 0;
 }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
